//COLOR
$brand_color_red: #FF5A5F;
$brand_color_blue: #6EC0D4;
$brand_color_grey: #F2F2F2;
$brand_color_yellow: #FFF000;
$brand_color_white: #FFFFFF;
$brand_color_crimson : #D0021B;
$brand_color_orange: #F79D0B;
$brand_color_green: #6DA544;
$brand_color_brown: #8B572A;

// NAVBAR 
$navlink_color: #555555;
$navlink_color_blue: $brand_color_blue;
$navbar_lineHeight: 29px;
$navlink_fontSize: 24px;
$navlink_paddingTB: 17px; //2.625rem;
$navlink_paddingLR: 8px;
$navlink_bottomLineHeight: 3px;
$navbar_logo_height: 65.7px;
$navlink_fontweight: 300;
$navbar_font-family: 'Lato-Light';




//BRAND FORMS
$form_background: $brand_color_grey;