@media (min-width: 1200px) {
  /* line 2, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_containers.scss */
  .container {
    max-width: 1210px !important;
  }
  /* line 5, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_containers.scss */
  .container--product {
    max-width: 782px !important;
  }
}

/* line 3, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_reset.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato-Regular';
}

/* line 9, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_reset.scss */
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=password],
input[type=phone],
input[type=search-md],
input[type=tel],
input[type=text],
input[type=time],
input[type=url], textarea.form-control,
select.form-control
input[type=date].input-alternate:focus,
input[type=date].input-alternate:hover,
input[type=datetime-local].input-alternate:focus,
input[type=datetime-local].input-alternate:hover,
input[type=email].input-alternate:focus, input[type=email].input-alternate:hover,
input[type=number].input-alternate:focus, input[type=number].input-alternate:hover, input[type=password].input-alternate:focus, input[type=password].input-alternate:hover, input[type=search-md].input-alternate:focus, input[type=search-md].input-alternate:hover, input[type=search].input-alternate:focus, input[type=search].input-alternate:hover, input[type=tel].input-alternate:focus, input[type=tel].input-alternate:hover, input[type=text].input-alternate:focus, input[type=text].input-alternate:hover, input[type=time].input-alternate:focus, input[type=time].input-alternate:hover, input[type=url].input-alternate:focus, input[type=url].input-alternate:hover,
textarea.md-textarea.input-alternate:focus, textarea.md-textarea.input-alternate:hover {
  box-shadow: none !important;
  box-sizing: border-box !important;
  height: 44px !important;
  border-radius: 4px !important;
  background-color: #FFF;
  border: solid 1px #E0E0E0;
  padding: 0 15px;
  border-bottom: solid 1px #E0E0E0 !important;
}

/* line 39, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_reset.scss */
input[type=date].input-alternate:focus,
input[type=date].input-alternate:hover,
input[type=datetime-local].input-alternate:focus,
input[type=datetime-local].input-alternate:hover,
input[type=email].input-alternate:focus, input[type=email].input-alternate:hover,
input[type=number].input-alternate:focus, input[type=number].input-alternate:hover, input[type=password].input-alternate:focus, input[type=password].input-alternate:hover, input[type=search-md].input-alternate:focus, input[type=search-md].input-alternate:hover, input[type=search].input-alternate:focus, input[type=search].input-alternate:hover, input[type=tel].input-alternate:focus, input[type=tel].input-alternate:hover, input[type=text].input-alternate:focus, input[type=text].input-alternate:hover, input[type=time].input-alternate:focus, input[type=time].input-alternate:hover, input[type=url].input-alternate:focus, input[type=url].input-alternate:hover,
textarea.md-textarea.input-alternate:focus, textarea.md-textarea.input-alternate:hover,
.form-control:focus {
  border-color: #DCDCDC !important;
}

/* line 51, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_reset.scss */
label {
  line-height: 19px;
  font-family: 'Lato-Regular';
  font-size: 16px;
  font-weight: 600;
  color: #555555;
}

/* line 58, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_reset.scss */
input {
  margin: 0 !important;
}

/* line 61, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_reset.scss */
.md-form {
  margin-bottom: 16px;
}

/* line 3, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.bg-grey {
  background-color: #F2F2F2 !important;
}

/* line 8, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.mr-15 {
  margin-right: 15px;
}

/* line 12, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.ml-15 {
  margin-left: 15px;
}

/* line 16, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.mt-20 {
  margin-top: 20px !important;
}

/* line 19, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.mt-32 {
  margin-top: 32px !important;
}

/* line 22, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.mb-32 {
  margin-bottom: 32px !important;
}

/* line 25, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.mb-48 {
  margin-bottom: 48px !important;
}

/* line 28, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.mt-35 {
  margin-top: 35px !important;
}

/* line 32, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.mt-95 {
  margin-top: 95px !important;
}

/* line 36, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.mb-95 {
  margin-bottom: 95px !important;
}

/* line 39, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.mt-52 {
  margin-top: 52px !important;
}

/* line 42, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.mb-80 {
  margin-bottom: 80px !important;
}

/* line 47, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.c-red {
  color: #FF0000 !important;
}

/* line 51, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.c-blue {
  color: #6EC0D4 !important;
}

/* line 56, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.fw-600 {
  font-weight: 600 !important;
}

/* line 61, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.opacity_1 {
  opacity: 1 !important;
}

/* line 66, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.pos-rel {
  position: relative;
}

/* line 69, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.pos-abs {
  position: absolute;
}

/* line 74, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.list-style-type-none {
  list-style-type: none !important;
}

/* line 79, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.pt-24 {
  padding-top: 24px;
}

/* line 82, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.pr-32 {
  padding-right: 32px;
}

/* line 85, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.pr-67 {
  padding-right: 67px;
}

/* line 89, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.pt-6 {
  padding-top: 6px;
}

/* line 93, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.pb-6 {
  padding-bottom: 6px;
}

/* line 98, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.no-shadow {
  box-shadow: none !important;
}

/* line 103, /home/jide/Documents/repos/ctm/templates/assets/scss/base/_base.scss */
.dis-block {
  display: block;
}

@font-face {
  font-family: "Lato-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-LightItalic";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Lato-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-BoldItalic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Black";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-BlackItalic";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Lato-BlackItalic.ttf") format("truetype");
}

/* line 1, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_dropdown.scss */
.dropdown-toggle::after {
  display: none !important;
}

/* line 4, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_dropdown.scss */
.dropdown-menu {
  padding: 0 !important;
}

/* line 6, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_dropdown.scss */
.dropdown-menu:after {
  position: absolute;
  left: 87%;
  top: -15px;
  width: 0;
  height: 0;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #F6F7F9;
}

/* line 18, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_dropdown.scss */
.dropdown-divider {
  margin: 0;
}

/* line 21, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_dropdown.scss */
.dropdown-header {
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0;
  white-space: nowrap;
  line-height: 18px;
  font-family: 'Nunito-SemiBold';
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  height: 30px;
  background-color: #F6F7F9;
  border-bottom: solid 1px #E0E0E0;
}

/* line 37, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_dropdown.scss */
.navbar .dropdown-menu a {
  padding: 8px 8px 11px 8px;
  font-family: 'Nunito-Regular';
  font-size: 12px;
  color: #333333 !important;
}

/* line 42, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_dropdown.scss */
.navbar .dropdown-menu a:hover {
  color: #333333 !important;
}

/* line 46, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_dropdown.scss */
.dropdown-footer {
  margin-bottom: 0;
  text-align: center;
}

/* line 49, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_dropdown.scss */
.dropdown-footer a {
  background: #F6F7F9;
  display: block;
  line-height: 18px;
  font-family: 'Nunito-ExtraBold';
  font-size: 14px !important;
  padding: 8px 8px;
}

/* line 55, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_dropdown.scss */
.dropdown-footer a.view-more {
  color: #56CCF2 !important;
  font-weight: 800;
}

/* line 3, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_navbar.scss */
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  background-color: transparent;
}

/* line 7, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_navbar.scss */
.navbar-collapse {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -ms-flex-align: center;
  align-items: center;
}

/* line 13, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_navbar.scss */
.navbar {
  border-radius: 0;
  box-shadow: none !important;
  margin-bottom: 0 !important;
}

@media (min-width: 992px) {
  /* line 13, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_navbar.scss */
  .navbar {
    padding: 24px 0 0 0 !important;
  }
}

/* line 21, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_navbar.scss */
.navbar .navbar-brand {
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  align-self: center !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (max-width: 991px) {
  /* line 21, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_navbar.scss */
  .navbar .navbar-brand {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
}

/* line 31, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_navbar.scss */
.navbar .navbar-brand img {
  max-height: 65.7px !important;
}

@media (max-width: 991px) {
  /* line 31, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_navbar.scss */
  .navbar .navbar-brand img {
    height: 40px;
  }
}

/* line 39, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link {
  font-size: 24px;
  line-height: 29px !important;
  padding: 17px 8px !important;
  font-family: "Lato-Light";
  font-weight: 300;
  text-transform: capitalize;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

/* line 49, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link i {
  font-size: 30px;
}

/* line 54, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-link__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 100%;
  min-height: 22px;
  min-width: 22px;
  top: 5px;
  right: 5px;
}

/* line 65, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-item {
  position: relative;
}

/* line 68, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_navbar.scss */
.navbar .nav-item:last-child .nav-link {
  padding-right: 0 !important;
}

@media (max-width: 991px) {
  /* line 2, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_aside.scss */
  .wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    position: relative;
  }
  /* line 15, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_aside.scss */
  .nav-open .wrapper {
    left: 0;
    -webkit-transform: translate3d(-250px, 0, 0);
    -moz-transform: translate3d(-250px, 0, 0);
    -o-transform: translate3d(-250px, 0, 0);
    -ms-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
  }
  /* line 24, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_aside.scss */
  body > .rightSideBar {
    position: fixed;
    display: block;
    top: 0;
    height: 100%;
    width: 250px;
    right: 0;
    z-index: 1032;
    visibility: visible;
    overflow-y: visible;
    border-top: none;
    border-left: 1px solid #E1E1E1;
    text-align: left;
    padding: 15px;
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    -o-transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  /* line 49, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_aside.scss */
  .rightSideBar ul {
    padding-left: 0 !important;
    list-style-type: none;
  }
  /* line 54, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_aside.scss */
  .nav-open .rightSideBar {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  /* line 61, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_aside.scss */
  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 250px;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
  }
}

/* line 1, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_accounts.scss */
.accounts {
  margin-top: 40px;
}

/* line 3, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_accounts.scss */
.accounts input {
  padding: 12px 12px 12px 24px !important;
  line-height: 22px;
  font-family: 'Lato-Bold';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #F6334B !important;
  border-radius: 40px !important;
  border: 1px solid #F6334B !important;
}

/* line 15, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_accounts.scss */
.accounts input[type=email].input-alternate:hover,
.accounts input[type=email].input-alternate:focus,
.accounts input[type=password].input-alternate:hover,
.accounts input[type=password].input-alternate:focus {
  border-radius: 40px !important;
}

/* line 21, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_accounts.scss */
.accounts ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #F6334B;
  opacity: 0.32;
}

/* line 25, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_accounts.scss */
.accounts ::-moz-placeholder {
  /* Firefox 19+ */
  color: #F6334B;
  opacity: 0.32;
}

/* line 29, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_accounts.scss */
.accounts :-ms-input-placeholder {
  /* IE 10+ */
  color: #F6334B;
  opacity: 0.32;
}

/* line 33, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_accounts.scss */
.accounts :-moz-placeholder {
  /* Firefox 18- */
  color: #F6334B;
  opacity: 0.32;
}

/* line 39, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_accounts.scss */
.accounts__wrapper {
  max-width: 361px;
  margin: 0 auto !important;
}

/* line 44, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_accounts.scss */
.accounts__social {
  margin-bottom: 48px;
}

/* line 48, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_accounts.scss */
.accounts__option {
  line-height: 17px;
  font-family: 'Lato-Bold';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4A4A4A;
  margin-bottom: 0;
}

/* line 59, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_accounts.scss */
.accounts__option a {
  color: #F6334B;
}

/* line 64, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_accounts.scss */
.divider {
  text-align: center;
  border-top: 1px solid #CDCDCD;
  margin: 0 auto 25px auto;
  display: block;
}

/* line 69, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_accounts.scss */
.divider .divider__word {
  position: relative;
  top: -13px;
  width: 40px;
  margin: 0 auto;
  background: #FFFFFF;
  line-height: 22px;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #CDCDCD;
}

/* line 1, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_landing-page.scss */
.landing-page {
  background-image: url(../../assets/img/backgrounds/landing_page.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  width: 100vw;
}

/* line 10, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_landing-page.scss */
.landing-page:before {
  background: rgba(0, 0, 0, 0.47);
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
}

/* line 26, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_landing-page.scss */
.index-page__intro {
  max-width: 653px;
  padding-top: 98px;
}

/* line 31, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_landing-page.scss */
.index-page__headlines {
  font-family: 'Lato-Bold';
  font-size: 44px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #FFFFFF;
}

/* line 42, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_landing-page.scss */
.index-page__button-group {
  position: fixed;
  right: 70px;
  bottom: 40px;
}

/* line 46, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_landing-page.scss */
.index-page__button-group .btn {
  width: 263px;
  padding: 12px 22px;
}

/* line 1, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
body {
  overflow-x: hidden;
  background: url(../../assets/img/backgrounds/products-list-background.png) repeat fixed;
}

/* line 6, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products .card {
  border-radius: 3px !important;
  box-shadow: 2px 2px 4px 0 #9b9b9b;
  border: solid 1px #F6334B;
}

/* line 10, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products .card .view.overlay {
  padding: 24px 30px;
}

/* line 15, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products #grid .card {
  margin-bottom: 48px;
}

/* line 20, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products #history .card {
  margin-bottom: 32px;
}

/* line 26, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__menu {
  flex: 0 0 87px;
  position: fixed;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  z-index: 3;
}

/* line 31, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__menu.products__menu-left {
  padding-right: 15px;
  left: 0;
}

/* line 35, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__menu.products__menu-right {
  padding-left: 15px;
  right: 0;
}

@media (max-width: 476px) {
  /* line 41, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
  .products__menu .products__circle {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 991px) {
  /* line 49, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
  .products__menu.products__menu-left {
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    bottom: 0;
    padding-right: 0 !important;
    animation: slideUp 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1) 0.5s;
  }
  /* line 56, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
  .products__menu.products__menu-left ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 15px !important;
  }
  /* line 62, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
  .products__menu.products__menu-left .products__circle.products__circle-menu {
    margin-bottom: 0;
  }
  /* line 66, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
  .products__menu.products__menu-right {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1081px) {
  /* line 76, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
  .products__menu.products__menu-left {
    left: 39px;
  }
  /* line 79, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
  .products__menu.products__menu-right {
    right: 39px;
  }
}

@media (min-width: 1082px) {
  /* line 84, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
  .products__menu.products__menu-left {
    left: 72px;
  }
  /* line 87, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
  .products__menu.products__menu-right {
    right: 72px;
  }
}

/* line 93, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__gallery {
  flex: 0 0 calc(100% - 174px);
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  /* line 93, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
  .products__gallery {
    flex: 0 0 100%;
  }
}

/* line 102, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__gallery-container {
  width: 100%;
  max-width: 782px;
  margin: 0 auto;
}

/* line 108, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__search-bar {
  margin-bottom: 32px;
}

/* line 110, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__search-bar input[type='search'] {
  border-bottom: 4px solid #42E1A6;
  line-height: 29px;
  font-family: 'Lato-Regular';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #555555;
}

/* line 120, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__search-bar input[type='search']:focus:not([readonly]) {
  border-bottom: 4px solid #42E1A6 !important;
  box-shadow: none !important;
}

/* line 127, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__intro {
  margin: 40px 0;
}

/* line 131, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__heading {
  line-height: 29px;
  font-family: 'Lato-Bold';
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
  margin-bottom: 0;
}

/* line 144, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.product__filter-name {
  line-height: 22px;
  font-family: 'Lato-Bold';
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #404042;
  margin: 16px 0 0 0 !important;
  text-align: center;
}

/* line 156, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__circle {
  background: #FFFFFF;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 72px;
  border: 2px solid #FFFFFF;
}

/* line 157, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__circle [class*='fa-'] {
  font-size: 28px;
}

/* line 168, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__circle.products__circle-menu {
  box-shadow: 2px 2px 4px 0 #9b9b9b;
  margin-bottom: 48px;
}

/* line 172, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__circle.products__circle-yellow-bd {
  border: 4px solid #FFF000;
}

/* line 175, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__circle.products__circle-crimson-bd {
  border: 4px solid #F6334B;
}

/* line 178, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__circle.products__circle-crimson-bg {
  border-color: #F6334B;
}

/* line 181, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__circle.products__circle-orange-bg {
  border-color: #F79D0B;
}

/* line 184, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__circle.products__circle-green-bg {
  border-color: #6DA544;
}

/* line 187, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__circle.products__circle-brown-bg {
  border-color: #8B572A;
}

/* line 192, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__circle-text {
  font-family: 'Lato-Bold';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #F6334B;
}

/* line 204, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__active .products__circle-crimson-bg,
.products__active .products__circle-crimson-bd {
  background: #F6334B;
}

/* line 208, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__active .products__circle-crimson-bg .products__circle-text,
.products__active .products__circle-crimson-bd .products__circle-text {
  color: #FFFFFF;
}

/* line 212, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__active .products__circle-orange-bg {
  background: #F79D0B;
}

/* line 215, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__active .products__circle-green-bg {
  background: #6DA544;
}

/* line 218, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__active .products__circle-brown-bg {
  background: #8B572A;
}

/* line 221, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__active .products__circle-yellow-bd {
  background: #FFF000;
}

/* line 226, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.projects__img-list {
  height: 96px;
  width: 96px;
  border-radius: 100% !important;
  margin: 0 auto;
}

/* line 233, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__text {
  text-align: center;
  margin: 16px 0 0 0 !important;
  line-height: 22px;
  font-family: 'Lato-Regular';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555555;
}

/* line 247, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__filter {
  margin-bottom: 56px;
}

/* line 249, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__filter .col {
  max-width: 106px;
  text-align: center;
}

/* line 255, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__table-editor {
  height: 100%;
  height: 458px;
  border-radius: 4px;
  border: solid 1px #E1E1E1;
  padding: 32px 16px 16px 16px;
}

/* line 263, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__responsive-table {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

/* line 271, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.projects__cell-img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  margin: 0 auto;
}

/* line 278, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.projects__cell-details {
  font-family: 'Lato-Regular';
}

/* line 280, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.projects__cell-details p {
  line-height: 17px !important;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #555555;
  margin: 8px 0 2px 0 !important;
}

/* line 290, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.projects__cell-details small {
  line-height: 12px !important;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #F6334B;
}

/* line 300, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.projects__cell-details .projects__cell-price {
  line-height: 22px;
  font-family: 'Lato-Black';
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #404040;
}

/* line 314, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-caption {
  position: absolute;
  width: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 748px) {
  /* line 314, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
  .pr-caption {
    width: 748px;
  }
}

/* line 323, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-caption p {
  margin-bottom: 0;
  line-height: 22px;
  font-family: 'Lato-Bold';
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

/* line 335, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-caption .pr-caption__grey {
  color: #CDCDCD;
}

/* line 338, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-caption .pr-caption__dark {
  color: #4a4a4a;
}

/* line 343, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table {
  position: absolute;
  width: 100%;
  top: 45px;
}

@media (max-width: 748px) {
  /* line 343, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
  .pr-table {
    width: 748px;
  }
}

/* line 350, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table .pr-table__head {
  border-bottom: solid 2px #E1E1E1;
  line-height: 22px;
  font-family: 'Lato-Bold';
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555555;
}

/* line 352, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table .pr-table__head .pr-table__col:first-child {
  flex: 0 0 150px;
  border-right: 1px solid #E1E1E1;
}

/* line 366, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table .pr-table__body {
  height: 236px;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 22px;
  font-family: 'Lato-Regular';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #404040;
}

/* line 379, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table .pr-table__body .pr-table__col {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* line 383, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table .pr-table__body .pr-table__col:first-child {
  flex: 0 0 150px;
  border-right: 1px solid #E1E1E1;
}

/* line 389, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table .pr-table__foot {
  height: 80px;
  border-top: solid 2px #E1E1E1;
}

/* line 392, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table .pr-table__foot .pr-table__col {
  padding-bottom: 0 !important;
}

/* line 395, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table .pr-table__foot .pr-table__col:first-child {
  flex: 0 0 150px;
}

/* line 399, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table .pr-table__rows {
  width: 100%;
  display: flex;
}

/* line 403, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table .pr-table__col {
  flex: 1;
  display: flex;
  align-content: center;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

/* line 411, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table .btn {
  font-family: 'Lato-Black';
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
  margin: 0 !important;
  max-width: 114px;
}

/* line 422, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table .btn-brand--crimson {
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

/* line 426, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.pr-table .btn--brand-outline-crimson {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* line 433, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.projects__form {
  max-width: 567px;
  margin: 0 auto;
}

/* line 436, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.projects__form select {
  max-width: 263px;
  height: 48px !important;
  border-radius: 2px;
  border: solid 1px #CDCDCD;
  line-height: 22px;
  font-family: 'Lato-Regular';
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #CDCDCD;
  padding: 13px 24px;
  margin: 0 auto !important;
}

/* line 450, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.projects__form .btn--brand-outline {
  width: 263px;
  padding: 12px 22px;
}

/* line 457, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__weight h1 {
  line-height: 39px;
  font-family: 'Lato-Black';
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #555555;
  margin: 0;
}

/* line 470, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__history-title {
  line-height: 22px;
  font-family: 'Lato-Bold';
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #555555;
}

/* line 482, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__history-date span {
  line-height: 17px;
  font-family: 'Lato-Bold';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #CDCDCD;
  margin-right: 16px;
}

/* line 493, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__history-date i {
  font-size: 12px;
}

/* line 498, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__fixed-pole {
  position: fixed;
  bottom: 40px;
  right: 72px;
}

/* line 502, /home/jide/Documents/repos/ctm/templates/assets/scss/modules/_product-page.scss */
.products__fixed-pole a {
  display: block;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

/* line 1, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_breadcrumb.scss */
.breadcrumb-container {
  position: absolute;
  top: 0;
}

@media (max-width: 475px) {
  /* line 1, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_breadcrumb.scss */
  .breadcrumb-container {
    display: none;
  }
}

/* line 8, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_breadcrumb.scss */
.breadcrumb {
  background-color: transparent;
  padding-left: 0 !important;
  margin-bottom: 0;
  padding: 0 !important;
}

/* line 15, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_breadcrumb.scss */
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #868e96;
  content: ">" !important;
}

/* line 23, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_breadcrumb.scss */
.breadcrumb-item.active, .breadcrumb-item a {
  line-height: 23px;
  font-family: 'Nunito-Medium';
  font-size: 18px;
  font-weight: 500;
  color: #BDBDBD;
}

/* line 30, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_breadcrumb.scss */
.breadcrumb-item.active {
  color: #828282 !important;
}

/* line 1, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_modals.scss */
.modal {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  display: none;
  padding: 24px !important;
  position: relative;
  width: 100%;
}

/* line 10, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_modals.scss */
.modal input[type='file'] {
  display: none;
}

/* line 13, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_modals.scss */
.modal label {
  display: block;
  max-width: 263px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 525px) {
  /* line 1, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_modals.scss */
  .modal {
    padding: 32px 15px 26px 15px !important;
  }
}

/* line 24, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_modals.scss */
.modal__heading {
  line-height: 22px;
  font-family: 'Lato-Bold';
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #404040;
}

/* line 35, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_modals.scss */
.modal__img-list {
  width: 88px;
  height: 88px;
}

/* line 40, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_modals.scss */
.modal__text {
  line-height: 29px;
  font-family: 'Lato-Regular';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #555555;
  margin: 0 0 0 16px;
}

/* line 1, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_parsley-error.scss */
.parsley-errors-list.filled {
  list-style-type: none;
  padding-left: 0;
  font-family: 'Nunito-Regular';
  font-size: 14px;
  font-weight: 700;
  color: #F6334B;
}

/* line 10, /home/jide/Documents/repos/ctm/templates/assets/scss/layout/_main.scss */
html, body {
  min-height: 100vh;
}

/* line 13, /home/jide/Documents/repos/ctm/templates/assets/scss/layout/_main.scss */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* line 19, /home/jide/Documents/repos/ctm/templates/assets/scss/layout/_main.scss */
main {
  position: relative;
  padding-top: 90px;
}

/* line 1, /home/jide/Documents/repos/ctm/templates/assets/scss/layout/_footer.scss */
.footer {
  width: 100%;
  bottom: 0;
}

/* line 6, /home/jide/Documents/repos/ctm/templates/assets/scss/layout/_footer.scss */
.footer__list {
  padding: 32px 0 !important;
  border-radius: 8px;
}

@media (max-width: 425px) {
  /* line 6, /home/jide/Documents/repos/ctm/templates/assets/scss/layout/_footer.scss */
  .footer__list {
    flex-wrap: wrap-reverse;
    padding: 16px 0 !important;
  }
}

/* line 13, /home/jide/Documents/repos/ctm/templates/assets/scss/layout/_footer.scss */
.footer__list li:first-child {
  font-size: 14px;
  font-family: 'Nunito-Bold';
  font-weight: bold;
  color: #BDBDBD;
}

@media (max-width: 425px) {
  /* line 13, /home/jide/Documents/repos/ctm/templates/assets/scss/layout/_footer.scss */
  .footer__list li:first-child {
    flex: 0 0 100%;
    text-align: center;
  }
}

@media (max-width: 425px) {
  /* line 23, /home/jide/Documents/repos/ctm/templates/assets/scss/layout/_footer.scss */
  .footer__list li:last-child {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-around;
    margin-bottom: 10px;
  }
}

/* line 30, /home/jide/Documents/repos/ctm/templates/assets/scss/layout/_footer.scss */
.footer__list li:last-child a {
  line-height: 22px;
  font-family: 'Nunito-Bold';
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 90, 95, 0.7);
}

/* line 1, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn {
  text-transform: capitalize;
}

/* line 4, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn-brand {
  border-radius: 4px !important;
  box-shadow: none !important;
  padding: 13px 22px;
  line-height: 22px;
  font-family: 'Lato-Black';
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

/* line 17, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn-brand--danger {
  background: #FF5A5F;
  color: #FFF;
}

/* line 22, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn-brand--yellow {
  background: #FFF000;
  color: #555555 !important;
}

/* line 27, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn-brand--primary {
  background: #6EC0D4;
  color: #FFF;
}

/* line 32, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn-brand--crimson {
  background: #F6334B;
  color: #FFFFFF;
}

/* line 37, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn-brand--facebook {
  background: #334E8A;
  color: #FFFFFF;
}

/* line 42, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn-brand--twitter {
  background: #4099FF;
  color: #FFFFFF;
}

/* line 47, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn-brand--dark {
  background: #555555;
  color: #FFFFFF;
}

/* line 52, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn--brand-outline {
  background-color: transparent;
}

/* line 54, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn--brand-outline:hover {
  box-shadow: none !important;
}

/* line 59, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn--brand-outline-crimson {
  border: 1px solid #F6334B;
  color: #F6334B !important;
}

/* line 64, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn--brand-outline-yellow {
  box-shadow: none;
  border: 1px solid #FFF000;
  color: #FFF000 !important;
}

/* line 70, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_buttons.scss */
.btn--brand-round {
  border-radius: 40px !important;
}

/* line 1, /home/jide/Documents/repos/ctm/templates/assets/scss/components/_cards.scss */
.card {
  border-radius: 0 !important;
}

/*# sourceMappingURL=../css/main.map */