.landing-page{

    background-image: url(https://i.ytimg.com/vi/t1Dnanz8u9M/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    width: 100vw;
    
    header,main{
        position: relative;
    }
    &:before{
        background: rgba(0, 0, 0, 0.87);
        content: '';
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.75;
    }
    
}

.index-page__intro{
    max-width: 653px;
    padding-top: 98px;
}

.index-page__headlines{
    font-family: 'Lato-Bold';
    font-size: 44px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: $brand-color-white;
}

.index-page__button-group{
    position: fixed;
    right: 70px;
    bottom: 40px;
    .btn{
        width: 263px;
    }
}